<!DOCTYPE html>
<html lang="it">

<head>
    <%- include("head.ejs") %>
</head>

<body class="gradient-custom">
    <script src="js/carrello.js"></script>
    <%- include("header.ejs" ,{ authenticated, title, coach: 0 }) %>

    <main>
        <div class="carrello-wrapper">
            <h4 class="mt-4">Carrello della spesa</h4>
            <p>
            <h6>Grazie per il tuo interesse, premi paga ora per confermare l'ordine</h6>
            </p>
            <div id="carrello-container">
                <script>
                    carrello = eval(localStorage.carrello);

                    document.write("<div id=elenco>");
                    tabella();
                    document.write("</div>");
                    totali();
                </script>
                <div id="elenco"></div>
            </div>

            <nav class="mt-4">
                <ul class="list-inline" style="margin-bottom: 100px;">
                    <li class="list-inline-item"><a href="/abbonamenti" class="btn btn-warning">Torna a fare
                            shopping</a></li>
                    <li class="list-inline-item"><button onclick="paga()" class="btn btn-warning">Paga ora</button>
                    </li>
                    <li class="list-inline-item"><button onclick="svuota()" class="btn btn-warning">Elimina
                            carrello</button></li>
                    <li class="list-inline-item"><button class="btn btn-warning">I tuoi ordini</button></li>
                </ul>
            </nav>
        </div>

        <script>
            if (localStorage.carrello) {
                carrello = JSON.parse(localStorage.carrello);
                tabella();
                totali();
            } else {
                document.getElementById('elenco').innerHTML = "<p>Il carrello è vuoto. Aggiungi almeno un prodotto per ordinare.</p>";
            }
        </script>
    </main>

    <%- include("footer") %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>

</body>

</html>