<!DOCTYPE html>
<html lang="it">

<head>
    <title>Carrello della spesa</title>
    <script src="/js/carrello.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/comune.css">
    <style>

        footer {
            margin-top: 20px;
            height: 115px;
            bottom: 0;
            width: 100%;

        }
        
    </style>
</head>

<body class="gradient-custom">
    <%- include("header.ejs") %>

        <div class="container carrello-wrapper">
            <div class="page-title">
                <h4>Carrello della spesa</h4>
            </div>
            <div class="container" id="titolo2">
                <p>
                <h6>Grazie per il tuo interesse,premi paga ora per confermare l'ordine</h6>
                </p>
            </div>

            <div id="carrello-container">
                <div id="elenco"></div>
            </div>

            <div id="link-container" class="link-container">
                <nav>
                    <ul class="list-inline" style="margin-bottom: 100px;">
                        <li class="list-inline-item"><a href="/abbonamenti" class="btn btn-primary">Torna a fare
                                shopping</a></li>
                        <li class="list-inline-item"><a href="#" onclick="javascript:paga()"
                                class="btn btn-primary">Paga ora</a></li>
                        <li class="list-inline-item"><a href="#" onclick="javascript:svuota()"
                                class="btn btn-primary">Elimina carrello</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <script>
            if (localStorage.carrello) {
                carrello = JSON.parse(localStorage.carrello);
                tabella();
                totali();
            } else {
                document.getElementById('elenco').innerHTML = "<p>Il carrello è vuoto. Aggiungi almeno un prodotto per ordinare.</p>";
            }
        </script>

        <!-- Includi il footer -->
        <%- include("footer.ejs") %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>

            <script>
                function paga() {
                    if (localStorage.carrello) {
                        var totale = totali();
                        alert("Hai pagato " + totale.toFixed(2) + "€");
                        svuota();
                    } else {
                        alert("Il carrello è vuoto, aggiungi almeno un prodotto per ordinare.");
                    }
                }
            </script>
</body>

</html>