<header>
    <nav class="navbar navbar-expand-lg navbar bg-dark text-light">
        <div class="container">
            <a class="navbar-brand text-white" href="/">PalestraFit</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="nav navbar-nav">
                    <li class="nav-item d-none d-lg-block">
                        <a class="nav-link text-white" aria-current="page" href="/"><i class="fa-solid fa-house"></i>
                            Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/attrezzatura"><i class="fa-solid fa-dumbbell"></i>
                            Attrezzatura</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/abbonamenti"><i class="fa-solid fa-id-card"></i>
                            Abbonamenti</a>
                    </li>
                    <% if (coach) { %>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/servizi"><i class="fa-regular fa-calendar-days"></i>
                                Servizi</a>

                        <li class="nav-item">
                            <a class="nav-link text-white" href="/prenotazioni"><i class="fa-solid fa-book"></i>
                                Prenotazioni</a>


                            <% } else if (authenticated && !coach){ %>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/servizi_offerti"><i class="fa-solid fa-timeline"></i>
                                Servizi offerti</a>

                        </li>
                        <% } %>

                            <li class="nav-item">
                                <a class="nav-link text-white" href="/recensioni"><i class="fa-regular fa-comment"></i>
                                    Recensioni</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" href="/contatti"><i class="fa-solid fa-location-dot"></i>
                                    Dove siamo?</a>
                            </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <% if(title==="Attrezzatura" ) { %>
                        <li class="nav-item d-none d-lg-block">
                            <form class="d-none d-lg-flex mx-auto text-white" style="max-width: 400px;"
                                action="/attrezzatura" method="GET">
                                <input name="attrezzatura" id="attrezzatura" class="form-control me-2" type="text"
                                    placeholder="Cerca attrezzature" aria-label="Search">
                            </form>
                        </li>
                        <% } %>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="/carrello"><i
                                        class="fa-solid fa-cart-shopping"></i></a>
                            </li>
                            <% if (authenticated) { %>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="/logout"><i
                                            class="fa-solid fa-sign-out-alt"></i>
                                        Logout</a>
                                </li>
                                <% } else { %>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="/accedi"><i
                                                class="fa-solid fa-sign-in-alt"></i>
                                            Login</a>
                                    </li>
                                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
</header>