<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/body.css"> 
    <link rel="stylesheet" href="/css/principale.css">
    <title>Benvenuto</title>
</head>
<style>
  
</style>

<body>
    <%- include("header.ejs") %>

    <div id="container">
        <form id="loginForm" action="/accedi" method="post"></form>
        <h1>Benvenuto!</h1>
        <p>Scopri i nostri servizi e prodotti per il tuo benessere.</p>
        <p>Puoi dare un'occhiata ai nostri abbonamenti e alla nostra strumentazione anche come ospite, </p>
            <p>ma per visualizzare il carrello e procedere con gli acquisti, </p> 
            <p>ti invitiamo a registrarti o accedere al nostro sito.</p>
        <p>Per offrire dei servizi aggiuntivi devi fare il login come coach</p>
    </div>
</body>
