<!DOCTYPE html>
<html lang="it">

<head>
    <%- include("head") %>

    <style>
        body {
            font-family: Arial, sans-serif;
        }

        main {
            padding: 20px;
        }

        .title {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin-top: 15px;
        }
        
        #iniziale{
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <%- include("header" ,{
        authenticated,
        title,
        coach: 0
    }) %>
    <ul>
        <div class="container" id="iniziale">
            Informativa al trattamento dei dati personali resa ai sensi degli art. 13-14 del Reg. (UE)
            2016/679 GDPR (General Data Protection Regulation) e dell’art. 13 del Decreto legislativo 30
            giugno 2003 n. 196 (Codice Privacy)
        </div>

        <div class="container">
            <div class="title">
                <h6>1.Introduzione</h6>
            </div>
            PalestraFit è consapevole dell’importanza della protezione dei dati personali e del rispetto della privacy
            dei propri utenti. Pertanto gestiamo tutte le informazioni a noi fornite con estrema cura e garantiamo
            sicurezza e
            riservatezza durante l’elaborazione delle informazioni personali dei nostri utenti.
            La presente informativa descrive le modalità di gestione dei dati personali ed è valida per i visitatori/
            utenti di questo sito. Non si applica alle informazioni
            raccolte tramite canali diversi dal presente sito web. Lo scopo di questa informativa è di fornire la
            massima trasparenza
            relativamente alle informazioni che il sito raccoglie e su come le usa.
        </div>

        <div class="container">
            <div class="title">
                <h6> 2. Dati raccolti e finalità</h6>
            </div>
            I dati che vengono raccolti verranno trattati con il supporto di mezzi cartacei (es: moduli di
            registrazione/ iscrizione),
            informatici (es: software gestionali, contabili ecc.) e telematici per le finalità espressamente indicate e
            in modo da
            garantire la sicurezza, l’integrità e la riservatezza dei dati stessi.
        </div>
        <div class="container">
            <div class="title">
                <h6>2.1. Dati di navigazione</h6>
            </div>
            I sistemi informatici e le procedure software preposte al funzionamento del sito web sopra indicato
            acquisiscono nel
            corso del loro normale esercizio alcuni dati personali la cui trasmissione è implicita nell’uso dei
            protocolli di
            comunicazione di internet. Si tratta di informazioni che non sono raccolte per essere associate ad
            interessati identificati,
            ma che per loro stessa natura potrebbero permettere di identificare gli utenti (es: indirizzi IP ecc.).
            Questi dati vengono
            utilizzati al solo fine di ricavare le informazioni statistiche anonime sull’uso del sito e per controllarne
            il corretto
            funzionamento. I dati potrebbero, inoltre, essere utilizzati per l’accertamento di responsabilità in caso di
            ipotetici reati
            informatici ai danni del sito.
            I dati sono trattati esclusivamente dal personale interno, regolarmente autorizzato e istruito al
            trattamento. Solamente in
            caso di indagine potranno essere messi a disposizione delle Autorità competenti. I dati sono di norma
            conservati per
            brevi periodi di tempo , ad eccezione di eventuali prolungamenti connessi ad attività di indagine. I dati
            non sono conferiti
            dall’interessato ma acquisiti automaticamente dai sistemi tecnologici del sito.
        </div>

        <div class="container">
            <div class="title">
                <h6>2.2. Cookies</h6>
            </div>
            Per informazioni specifiche su come gestiamo i cookies puoi consultare la nostra pagina cookie policy del
            nostro sito: https://www.iubenda.com/privacy-policy/70803835/cookie-policy
        </div>

        <div class="container">
            <div class="title">
                <h6>2.3. Dati raccolti con il consenso dell’utente e finalità del trattamento</h6>
            </div>
            L’invio facoltativo, esplicito e volontario di dati personali tramite il sito web sopra indicato, accettando
            espressamente l’informativa privacy, comporta la successiva acquisizione del nominativo, dell’indirizzo mail
            del mittente
            necessario per
            rispondere alle richieste nonché di tutti gli altri dati personali inseriti ai quali potranno accedere, solo
            per
            fini di
            manutenzione/ aggiornamento la società che gestisce l’infrastruttura tecnologica e i suoi incaricati/
            responsabili/
            contitolari.
            I dati non saranno diffusi o trasferiti in Paesi extra UE.
            I dati raccolti verranno trattati con le seguenti finalità: rispondere alle richieste degli interessati; per
            fini amministrativi e
            contabili.
        </div>

        <div class="container">
            <div class="title">
                <h6>3. Categorie di destinatari</h6>
            </div>
            Ferme restando le comunicazioni eseguite in adempimento di obblighi di legge e contrattuali, tutti i dati
            raccolti e
            elaborati potranno essere comunicati esclusivamente per le finalità sopra specificate alle seguenti
            categorie di
            destinatari: consulenti, società esterne, per ragioni di natura tecnica ed
            organizzativa, nell’instaurazione e gestione del servizio fornito, altri soggetti che possono venire a
            conoscenza in qualità
            di responsabili o incaricati.
        </div>

        <div class="container">
            <div class="title">
                <h6>4. Periodo di conservazione</h6>
            </div>
            I Tuoi dati personali verranno conservati per il tempo necessario all’espletamento dell’incarico conferito.
        </div>

        <div class="container">
            <div class="title">
                <h6>5. Base giuridica</h6>
            </div>
            La base giuridica relativa al trattamento dei dati da Te forniti è la procura ad litem/ conferimento
            incarico.
            Il conferimento dei Tuoi dati personali, anche quelli di cui all’art. 9 del regolamento EU 679/2016, ha
            natura
            obbligatoria,
            e l’eventuale rifiuto potrebbe rendere impossibile o estremamente difficoltoso l’espletamento del servizio
            offerto da PalestraFit.
        </div>

        <div class="container">
            <div class="title">
                <h6>6. Diritti dell’interessato</h6>
            </div>
            In qualità di interessato puoi esercitare i seguenti diritti: richiedere la conferma dell’esistenza di dati
            personali che Ti
            riguardano (d.tto di accesso); richiederne la modifica, la rettifica, l’aggiornamento/ integrazione, la
            cancellazione (d.tto
            all’oblio), la trasformazione in forma anonima, il blocco dei dati in caso di violazione di legge, compresi
            i
            dati non più
            necessari al perseguimento degli scopi per i quali sono stati raccolti; diritto di presentare un reclamo
            all’Autorità di controllo.
            L’esercizio dei tuoi diritti potrà avvenire attraverso l’invio di una richiesta al seguente
            indirizzo:palestrafit@gmail.com
        </div>
        <div class="container">
            <div class="title">
                <h6>7. Il Titolare del trattamento</h6>
            </div>
            Il Titolare del trattamento è PalestraFit.
        </div>

        <div class="container">
            <div class="title">
                <h6>8. Revoca del consenso al trattamento</h6>
            </div>
            È riconosciuta all’interessato la facoltà di revocare il consenso al trattamento dei suoi dati personali,
            inviando una
            raccomandata A/R al seguente indirizzo: MIRAI BAY SRL, via Mecenate 84/8, Milano, corredata
            da fotocopia del suo documento di identità, con il seguente testo: <personali>>.
                Al termine di questa operazione i suoi dati personali saranno rimossi dagli archivi sia cartacei che
                telematici
                nel più breve tempo possibile, fatta salva la conservazione ai fini fiscali/contabili.
                Se desidera avere maggiori informazioni sul trattamento dei suoi dati personali, ovvero esercitare i
                diritti
                di cui al
                precedente punto 6, può inviare una raccomandata A/R al seguente indirizzo: MIRAI BAY SRL, via Mecenate
                84/8, Milano. Prima di poter fornire, o modificare qualsiasi informazione, potrebbe essere necessario
                verificare l’identità dell’interessato e rispondere ad alcune domande. Una risposta sarà poi fornita al
                più
                presto.

        </div>

    </ul>
    </main>

    <%- include("footer") %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>