<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/body.css"> 
    <link rel="stylesheet" href="/css/principale.css">
    <title>Registrato</title>
</head>
<style>
  
</style>

<body>
    <%- include("header.ejs") %>

    <div id="container">
        <form id="loginForm" action="/accedi" method="post"></form>
        <h1>Benvenuto e grazie per la registrazione!</h1>
        <p>Ora puoi acquistare e visualizzare il carrello,assicurati in fase</p>
            <p>di acquisto di cambiare la quantità nel carrello. </p> 
            <p>Per acquistare clicca su aggiungi al carello l'abbonamento o la strumentazione che desideri! </p> 

    </div>
</body>
