.product {
    width: 100%; 
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background-size: cover;
    background-position: center; 
}

.product img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.product-info {
    padding: 10px;
    vertical-align: middle;
}

.product-info h2 {
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center; 
}
.product-info a {
    text-decoration: underline;
    display: inline;
    margin-left: 5px;
}

.product-info p {
    margin: 0;
}

#container {
    text-align: center; 
    padding-top: 80px; 
}

h1 {
    margin-bottom: 20px; 
}

.footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
