html,
body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/****** Navbar ******/
/* Navbar */
.navbar .form-control {
    width: 100%;
}

@media (min-width: 992px) {
    .navbar .form-control {
        width: auto;
    }
}

/****** Carousel ******/
.carousel-control-prev,
.carousel-control-next {
    margin-left: auto;
    margin-right: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
}

.carousel {
    max-width: 60%;
    margin: 40px auto 0 auto;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2%;
    text-align: center;
    color: white;
    max-width: 70%;
    margin-top: 5%;
}

.carousel-caption p,
h5 {
    font-size: 1.5vw;
}

/****** Carrello ******/
.carrello-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#elenco {
    max-width: 100%;
    text-align: center;
    background-color: white;
    border: 3px solid #ccc;
    border-radius: 15px;
    padding: 20px;
}

.carrello-tabella th,
.carrello-tabella td {
    padding: 15px;
}

.carrello-tabella .center {
    text-align: center;
}

.carrello-tabella .right {
    text-align: right;
}



/****** Card ******/

.card {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.8);
}

#card-attrezzatura {
    transition: transform .2s;
    /* Animation */
}

#card-attrezzatura:hover {
    transform: scale(1.05);
}

/****** Footer ******/
.contact-icon {
    margin: 8 auto;
    font-size: 1.5em;
}

.contact-link {
    color: white;
    text-decoration: none;
}

#google-map {
    transition: transform .2s;
    /* Animation */
}

#google-map:hover {
    transform: scale(1.05);
}

/****** Other ******/

.product-container {
    height: 425px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

img[src$="yoga.png"] {
    width: 120%;
}

.gradient-custom {
    background: whitesmoke;
}

@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.bg-grey {
    background-color: #eae8e8;
}

@media (min-width: 992px) {
    .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

@media (max-width: 991px) {
    .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}


.product {
    max-height: 600px;
}

.product_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
}

.product_title {
    margin-top: 2rem;
}

.product_content {
    flex-grow: 1;
}

.product_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 15px;
}

#iniziale{
    margin-top: 20px;
}

.body_privacy {
    font-family: Arial, sans-serif;
}